.question-container{
    background-color: rgb(33, 228, 235);
    margin: 50px auto;
    border-radius: 10px;
    padding: 20px;
}
.hr{
border: 0.5px solid rgba(4, 15, 63, 0.911);
width: 30%;
margin: 20px auto;
}
.hr-between{
    border: 2px dotted rgb(6, 63, 90);
    width: 20%;
}